################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XMLSerialization/obj
/.vs/XMLSerialization
